@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-weight: 400;
  font-size: 14px;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

a:visited,
a:hover {
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "AvenirNextCyr";
  font-display: swap;
  src: url("../fonts/AvenirNextCyr-Bold.woff") format("woff"), url("../fonts/AvenirNextCyr-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNextCyr";
  font-display: swap;
  src: url("../fonts/AvenirNextCyr-Medium.woff") format("woff"), url("../fonts/AvenirNextCyr-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNextCyr";
  font-display: swap;
  src: url("../fonts/AvenirNextCyr-Italic.woff") format("woff"), url("../fonts/AvenirNextCyr-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "AvenirNextCyr";
  font-display: swap;
  src: url("../fonts/AvenirNextCyr-Regular.woff") format("woff"), url("../fonts/AvenirNextCyr-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "AvenirNextCyr", Arial, sans-serif;
  line-height: 1.15;
  position: relative;
  z-index: 20;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.scroll-lock {
  padding-right: calc(17px - (100vw - 100%));
}

.lock {
  overflow: hidden;
}

.title {
  text-align: center;
  margin-bottom: 30px;
}

.title h2 {
  font-size: 30px;
  color: #3f3689;
  font-weight: 700;
  text-transform: uppercase;
}

.text p {
  font-weight: 500;
  line-height: 22px;
  font-size: 16px;
  letter-spacing: 0.4px;
  color: #484848;
  margin-bottom: 30px;
}

.text p:last-child {
  margin: 0;
}

.button {
  position: relative;
}

.button a,
.button p {
  display: inline-block;
  font-weight: 700;
  line-height: 44px;
  font-size: 18px;
  letter-spacing: 0.4px;
  border-radius: 5px;
  color: #fff;
  background-color: rgba(63, 54, 137, 0.7);
  -webkit-box-shadow: 5px 5px 10px rgba(63, 54, 137, 0.4);
          box-shadow: 5px 5px 10px rgba(63, 54, 137, 0.4);
  padding: 0 30px;
  cursor: pointer;
}

.button:after {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 0px;
  width: 80%;
  height: 2px;
  background-color: #fff;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  position: relative;
  text-align: center;
  height: 300px;
  color: #fff;
  padding: 0 10px;
  margin-bottom: 20px;
  overflow: hidden;
}

.item__image {
  width: 100%;
  height: 100%;
}

.item__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 5px 5px 25px #c4c4c4;
          box-shadow: 5px 5px 25px #c4c4c4;
  border-radius: 8px;
}

.item__menu {
  position: absolute;
  bottom: -83%;
  left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100% - 20px);
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px 25px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.item__menu.active {
  bottom: 0%;
}

.item__title {
  text-align: center;
  margin-bottom: 15px;
}

.item__title h2 {
  font-size: 18px;
  font-weight: 500;
}

.item__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
  margin-bottom: 10px;
}

.item__text p {
  font-weight: 500;
  line-height: 18px;
  font-size: 14px;
}

.item__button.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30px;
}

.item__button.button:after {
  left: 93px;
  width: 40%;
  height: 1px;
}

.item__button.button a {
  font-weight: 700;
  line-height: 28px;
  font-size: 14px;
  letter-spacing: .4px;
}

.text-block {
  text-align: left;
  padding: 0 10px;
}

.text-block__subtitle {
  margin-bottom: 20px;
}

.text-block__subtitle h2 {
  font-size: 18px;
  color: #3f3689;
  font-weight: 700;
  text-transform: uppercase;
}

.text-block__text {
  line-height: 22px;
  font-size: 18px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__body {
  position: relative;
  width: 1180px;
  max-width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 50px;
  margin: 0 auto;
}

.header__body:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3F3689;
  z-index: 3;
}

.header__row {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
  z-index: 3;
}

.header__row.row-1 {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__row.row-2 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 150px;
          flex: 0 0 150px;
}

.header__contacts {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 75%;
          flex: 0 1 75%;
  height: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__burger {
  display: none;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: 0 100px;
}

.header__list li {
  position: relative;
  padding: 5px;
}

.header__list li:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  cursor: pointer;
}

.header__link {
  margin-right: 10px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.15;
}

.header__link:last-child {
  margin: 0;
}

.header p {
  color: #fff;
}

.about-link.active,
.team-link.active,
.toys-link.active,
.history-link.active,
.contacts-link.active {
  color: #9A9A9A;
  text-align: center;
}

.about-link.active:after,
.team-link.active:after,
.toys-link.active:after,
.history-link.active:after,
.contacts-link.active:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 5px;
  width: 93%;
  height: 1px;
  background-color: #fff;
}

.logo {
  margin-right: 15px;
}

.mail {
  margin-right: 15px;
}

.mail__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mail__image img {
  margin-right: 20px;
}

.mail__text {
  font-size: 12px;
  line-height: 1.15;
}

.phone {
  margin-right: 15px;
}

.phone__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone__image img {
  margin-right: 20px;
}

.phone__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.phone__text p {
  display: inline-block;
  margin: 1px 0;
  font-size: 12px;
  line-height: 1.15;
}

.adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.adress__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.adress__image img {
  margin-right: 20px;
}

.adress__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.adress__text p {
  display: inline-block;
  margin: 1px 0;
  font-size: 11px;
  line-height: 1.15;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 70px 10px 0;
  background-color: #E7E6E8;
}

.swiper-wrapper {
  min-height: 100%;
}

.image-slider {
  max-width: 1180px;
  height: calc(100vh - 100px);
  margin-top: 100px;
  position: relative;
}

.image-slider__image {
  text-align: center;
  height: 100%;
}

.image-slider__image img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.image-slider__title {
  position: absolute;
  top: 25%;
  left: 8%;
  max-width: 50%;
}

.image-slider__title h2 {
  font-size: 46px;
  font-weight: 700;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #484848;
}

.image-slider__white-title h2 {
  color: #fff;
}

.image-slider__button {
  position: absolute;
  top: 70%;
  left: 10%;
}

.image-slider__button.button:after {
  left: 10%;
}

.image-slider .swiper-button-next:before,
.image-slider .swiper-button-prev:before {
  content: '';
  width: 40px;
  height: 40px;
  background-color: rgba(63, 54, 137, 0.4);
  border-radius: 8px;
  position: absolute;
  top: 2px;
}

.image-slider .swiper-button-prev:before {
  left: -5px;
}

.image-slider .swiper-button-next:before {
  left: -8px;
}

.image-slider .swiper-button-next:after,
.image-slider .swiper-button-prev:after {
  color: #fff;
  font-size: 25px;
}

span.swiper-pagination-bullet,
.swiper-pagination-bullet.swiper-pagination-bullet-active,
.swiper-pagination-bullet.swiper-pagination-bullet-active-prev,
.swiper-pagination-bullet.swiper-pagination-bullet-active-next {
  width: 20px;
  height: 20px;
}

.about,
.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 50px;
  margin-bottom: 70px;
}

.about__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 400px;
          flex: 0 1 400px;
  padding-right: 20px;
}

.about__image img {
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 5px 5px 25px #c4c4c4;
          box-shadow: 5px 5px 25px #c4c4c4;
  border-radius: 8px;
}

.about__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__title {
  position: relative;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  text-align: left;
}

.about__title:after {
  content: '';
  position: absolute;
  top: 30px;
  left: 2px;
  width: 63px;
  height: 2px;
  background-color: #3f3689;
}

.about__text {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.about__text p:last-child {
  margin-bottom: 30px;
}

.about__button.button {
  max-width: 204px;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.about__button.button:hover {
  cursor: default;
}

.about__button.button a {
  background-color: #3F3689;
  cursor: pointer;
}

.about__button.button:after {
  width: 80%;
  left: 10%;
}

.team {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.team__image img {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 5px 5px 25px #c4c4c4;
          box-shadow: 5px 5px 25px #c4c4c4;
  border-radius: 8px;
}

.soft-toys,
.edu-toys {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.soft-toys__block,
.edu-toys__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 60px;
}

.didnt-find {
  text-align: center;
  padding: 0 50px;
  margin-bottom: 70px;
}

.didnt-find__title {
  margin-bottom: 20px;
}

.didnt-find__title h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
}

.didnt-find__text p {
  line-height: 24px;
  font-size: 20px;
}

.history {
  text-align: center;
  margin-bottom: 70px;
}

.history__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.history__content:last-child {
  margin-bottom: 0;
}

.history__text-block {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.history__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  width: 100%;
  height: 100%;
  padding: 0 10px;
}

.history__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 5px 5px 25px #c4c4c4;
          box-shadow: 5px 5px 25px #c4c4c4;
  border-radius: 8px;
}

.where-find {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 70px;
}

.where-find__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.where-find__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 30px 0 10px;
}

.where-find__text p {
  line-height: 20px;
  font-size: 18px;
  margin-bottom: 20px;
}

.where-find__text p:last-child {
  position: relative;
  margin-bottom: 0;
}

.where-find__map {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10px;
}

.where-find__map iframe {
  max-width: 100%;
  max-height: 100%;
}

.contact-review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 70px;
}

.contact-review__contacts {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 10px;
}

.contact-review__subtitle {
  margin-bottom: 40px;
}

.contact-review__subtitle h2 {
  font-size: 30px;
  color: #3f3689;
  font-weight: 700;
}

.contact-review__text p {
  font-weight: 500;
  line-height: 20px;
  font-size: 18px;
  margin-bottom: 10px;
}

.contact-review__text a {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000;
}

.contact-review__review {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 10px;
}

.phone-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  line-height: 20px;
  font-size: 18px;
  margin-bottom: 30px;
}

.phone-row__phone-1 {
  margin-right: 60px;
}

.phone-row__text {
  text-align: center;
  margin-bottom: 15px;
}

.phone-row__number a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000;
}

.form {
  font-weight: 500;
  line-height: 18px;
  font-size: 16px;
}

.form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.form__item textarea {
  min-height: 120px;
  resize: vertical;
  font-size: 16px;
  padding: 10px;
}

.form__label {
  margin-bottom: 10px;
}

.form__label span {
  color: #FF0000;
}

.form__input {
  border: 1px solid #1a76dc;
  border-radius: 4px;
  padding: 10px;
}

.form__button {
  position: relative;
  display: inline-block;
  font-weight: 700;
  line-height: 44px;
  font-size: 18px;
  letter-spacing: 0.4px;
  border-radius: 5px;
  color: #fff;
  background-color: #3F3689;
  padding: 0 30px;
}

.form__button:after {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 15px;
  width: 80%;
  height: 2px;
  background-color: #fff;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

input.form__input {
  width: auto;
  height: 35px;
  font-size: 16px;
}

.reviews-slider__slide {
  position: relative;
  margin-bottom: 120px;
  padding: 20px 0 0 40px;
}

.reviews-slider__image {
  position: absolute;
  top: 0;
  left: 0;
}

.reviews-slider__title {
  margin-bottom: 20px;
}

.reviews-slider__title p {
  font-weight: 700;
  line-height: 18px;
  font-size: 18px;
  letter-spacing: 0.4px;
}

.reviews-slider__text p {
  line-height: 18px;
  letter-spacing: 0.4px;
}

.reviews-slider.swiper-container {
  max-width: 60%;
  margin: 0 auto;
}

.swiper-pagination {
  margin-bottom: 70px;
}

.popup-1 {
  position: fixed;
  top: 220px;
  right: 10%;
  z-index: 3;
  max-width: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 4;
}

.popup-1__content {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 50px 40px 20px 40px;
  border-radius: 8px;
  -webkit-transform: translate(150%, 0%);
      -ms-transform: translate(150%, 0%);
          transform: translate(150%, 0%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup-1.open .popup-1__content {
  -webkit-transform: translate(0%, 0%);
      -ms-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  opacity: 1;
  visibility: visible;
}

.popup-1__text {
  margin-bottom: 20px;
}

.popup-1__text p {
  font-weight: 500;
}

.popup-1__button {
  height: 30px;
  text-align: center;
}

.popup-1__button:after {
  max-width: 50%;
  height: 1px;
  bottom: 5px;
  left: 50px;
}

.popup-1__button p {
  line-height: 28px;
}

.popup-2 {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 130px;
  z-index: -1;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup-2__body {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1180px;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup-2__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  color: #000;
  max-width: 600px;
  padding: 30px;
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup-2.open {
  z-index: 3;
}

.popup-2.open .popup-2__body {
  opacity: 1;
  visibility: visible;
}

.popup-2.open .popup-2__content {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup-2__close {
  position: absolute;
  top: 30px;
  right: 15px;
  width: 30px;
  height: 30px;
}

.popup-2__close:before,
.popup-2__close:after {
  content: "";
  position: absolute;
  top: 45%;
  right: 0;
  background: #000;
  width: 30px;
  height: 2px;
}

.popup-2__close:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.popup-2__close:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup-2__text {
  text-align: center;
  margin-bottom: 20px;
}

.popup-2__text p {
  font-weight: 500;
  line-height: 18px;
  font-size: 18px;
}

.close-popup {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.close-popup:before,
.close-popup:after {
  content: "";
  position: absolute;
  top: 45%;
  right: 0;
  background: #000;
  width: 20px;
  height: 2px;
}

.close-popup:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close-popup:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__item input {
  width: auto;
}

.form__item.popup-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.form__item.popup-item:first-child {
  margin-right: 30px;
}

.footer__container {
  width: 1180px;
  max-width: 100%;
  height: 100px;
  margin: 0 auto;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  background-color: #3f3689;
  padding: 40px 50px 10px;
}

.footer__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 150px;
          flex: 0 0 150px;
  margin-right: 100px;
}

.footer__contacts {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social p {
  margin-right: 15px;
}

.footer__social a {
  margin-right: 15px;
}

.footer__phone.phone {
  margin-right: 15px;
}

.footer__adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__confid {
  text-align: center;
  background-color: #3f3689;
  padding-bottom: 20px;
}

.footer__confid a {
  font-size: 11px;
}

@media (max-width: 1200px) {
  .item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .soft-toys__block,
  .edu-toys__block {
    max-height: 100%;
  }
}

@media (max-width: 1023px) {
  .header__list {
    margin: 0 20px;
  }
}

@media (max-width: 1000px) {
  .reviews-slider.swiper-container {
    max-width: 80%;
  }

  .footer__row {
    padding: 40px 10px 10px;
  }
}

@media (max-width: 920px) {
  .about {
    padding: 0 30px;
  }
}

@media (max-width: 900px) {
  .footer__logo {
    margin-right: 20px;
  }
}

@media (max-width: 850px) {
  .phone-row__phone-1 {
    margin-right: 25px;
  }
}

@media (max-width: 768px) {
  .item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .text-block__subtitle {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .text-block__text {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .header__body {
    padding: 0;
    height: 80px;
  }

  .header__row.row-1 {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .header__row.row-2 {
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    overflow: auto;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    background-color: #3F3689;
    padding: 70px 10px 20px 10px;
    z-index: 2;
  }

  .header__row.row-2.active {
    top: 0;
  }

  .header__contacts {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-right: 80px;
  }

  .header__burger {
    display: block;
    position: absolute;
    top: 13px;
    right: 30px;
    width: 30px;
    height: 20px;
    z-index: 3;
  }

  .header__burger span {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    left: 0;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 9px;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }

  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__list {
    display: block;
    padding-top: 20px;
    margin: 0;
    text-align: left;
  }

  .header__list li {
    margin: 0 0 20px 0;
  }

  .header__list li:last-child {
    margin: 0;
  }

  .header__link {
    font-size: 18px;
  }

  .logo {
    margin-right: 0;
    margin-left: 10px;
  }

  .mail {
    margin-right: 20px;
  }

  .mail__image {
    -ms-flex-item-align: end;
        align-self: end;
  }

  .mail__image img {
    margin-right: 0;
  }

  .mail__text {
    display: none;
  }

  .phone {
    margin-right: 0;
  }

  .phone__image img {
    margin-right: 0;
  }

  .phone__text {
    display: none;
  }

  .adress {
    display: none;
  }

  .image-slider {
    margin-top: 80px;
    height: calc(100vh - 80px);
    margin-bottom: 40px;
  }

  .image-slider__image img {
    -o-object-position: 75% 50%;
       object-position: 75% 50%;
  }

  .image-slider__title {
    max-width: 100%;
    top: 2%;
    left: 10%;
    padding: 0 10px;
  }

  .image-slider__title h2 {
    font-size: 28px;
  }

  .about,
  .team {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 10px;
    margin-bottom: 40px;
  }

  .about__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-right: 0;
    margin-bottom: 30px;
  }

  .didnt-find {
    padding: 0 10px;
    margin-bottom: 40px;
  }

  .history {
    margin-bottom: 40px;
  }

  .history__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .history__image {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: 20px;
  }

  .where-find {
    margin-bottom: 40px;
  }

  .where-find__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 0 10px;
    margin-bottom: 40px;
  }

  .where-find__map {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 0;
    max-width: 90%;
    height: 50vh;
    margin: 0 auto;
  }

  .contact-review {
    margin-bottom: 40px;
  }

  .contact-review__contacts {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 40px;
  }

  .contact-review__subtitle {
    margin: 0 auto 20px;
  }

  .contact-review__text {
    text-align: center;
  }

  .contact-review__review {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .phone-row__phone-1 {
    margin: 0 0 20px 0;
  }

  .reviews-slider.swiper-container {
    max-width: 100%;
  }

  .footer__contacts {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .footer__social p {
    display: none;
  }

  .footer__adress {
    display: none;
  }
}

@media (max-width: 650px) {
  .image-slider__title h2 {
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .phone-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 450px) {
  .about__title.title {
    margin-bottom: 0;
  }
}

@media (hover: hover) {
  .button:hover {
    cursor: pointer;
  }

  .button:hover.button:after {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }

  .item__menu:hover {
    bottom: 0%;
  }

  .form__button:hover:after {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
}